
<footer id="footer">
    <div class="container footerContainer">
        <div class="box firstBox">
            <div class="logo">
                <img src="/images/logo-black.png" alt="">
            </div>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur a odit aut fugit sed consequuntur magni dolores eos qui ratione.</p>
        
            <div class="footerIconBox">
                <h4 class="footerIconTitle">Follow Us</h4>
                <div class="footerIcons">
                    <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                    <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon"><i class="fa-brands fa-telegram"></i></div>
                    <div class="icon"><i class="fa-brands fa-whatsapp"></i></div>
                </div>
            </div>
        </div>
        <div class="box">
            <h3 class="boxTitle">About Us</h3>

            <ul class="footerLists">
                <li class="list"><a href="#">How It Work</a></li>
                <li class="list"><a href="#">Customers</a></li>
                <li class="list"><a href="#">Our Story</a></li>
                <li class="list"><a href="#">Career</a></li>
                <li class="list"><a href="#">Contact Us</a></li>
                <li class="list"><a href="#">FAQs</a></li>
            </ul>
        </div>
        <div class="box">
            <h3 class="boxTitle">Support & Summary</h3>

            <ul class="footerLists">
                <li class="list"><a href="#">Question</a></li>
                <li class="list"><a href="#">Helping Center</a></li>
                <li class="list"><a href="#">Privacy & Policy</a></li>
                <li class="list"><a href="#">Buy or Rent</a></li>
                <li class="list"><a href="#">Properties</a></li>
                <li class="list"><a href="#">Blogs</a></li>
            </ul>
        </div>
        <div class="box lastBox">
            <h3 class="boxTitle">Contact Us</h3>

            <ul class="footerLists">
                <li class="list">
                    <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="content">
                        <h5>E-mail</h5>
                        <p>youremailid@gmail.com</p>
                    </div>
                </li>
                <li class="list">
                    <div class="icon"><i class="fa-solid fa-phone-volume"></i></div>
                    <div class="content">
                        <h5>Contact</h5>
                        <p>(+01) 123 456 7890</p>
                    </div>
                </li>
                <li class="list">
                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="content">
                        <h5>Location</h5>
                        <p>3012 Pine Garden Lane Atlanta, Boulevard, GA 30328</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="footerBottom">
        <div class="container">
            <span>Created By Web-Desingner Narek | All Reghts Reserved. <i class="fa-solid fa-heart"></i></span>
            <span>Term Condition & Policy</span>
        </div>
    </div>
</footer>