<nav id="navbar">
    <div class="navContainer container">
        <div class="logo">
            <img src="/images/logo-black.png" alt="">
        </div>
        <ul class="links">
            <li class="link"><a class="linkText" href="#">Home</a></li>
            <li class="link linkBg">
                <div class="bgLinkTop">
                    <span class="linkText">Property</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <ul class="linksCard">
                    <a href="#"><li class="bgDownLink"><i class="fa-solid fa-arrow-right"></i><span>Property for Sale</span></li></a>
                    <a href="#"><li class="bgDownLink"><i class="fa-solid fa-arrow-right"></i><span>Property for Rent</span></li></a>
                </ul>
            </li>
            <li class="link linkBg">
                <div class="bgLinkTop">
                    <span class="linkText">Account</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <ul class="linksCard">
                    <a href="#"><li class="bgDownLink"><i class="fa-solid fa-arrow-right"></i><span>Personal Info</span></li></a>
                    <a href="#"><li class="bgDownLink"><i class="fa-solid fa-arrow-right"></i><span>Password & Security</span></li></a>
                    <a href="#"><li class="bgDownLink"><i class="fa-solid fa-arrow-right"></i><span>My Properties</span></li></a>
                    <a href="#"><li class="bgDownLink"><i class="fa-solid fa-arrow-right"></i><span>Wishes</span></li></a>
                    <a href="#"><li class="bgDownLink"><i class="fa-solid fa-arrow-right"></i><span>Reviews</span></li></a>
                </ul>
            </li>
            <li class="link"><a class="linkText" href="#">Sign In</a></li>
            <li class="link"><a class="linkText" href="#">Sign Up</a></li>
        </ul>
        <div class="icons">
            <label class="switch switchBigNav">
                <input class="darkBtn" type="checkbox">
                <span class="switchSlider round"></span>
              </label>
            <button class="btn menuBtn"><i class="fa-solid fa-bars"></i></button>
            <a href="/property"><button class="btn"><i class="fa-solid fa-plus"></i><span>Addproperty</span></button></a>
        </div>
    </div>

    <div class="responsiveMenu">
        <div class="aside">
            <div class="top">
                <div class="logo">
                    <img src="/images/logo-black.png" alt="">
                </div>
                <button class="btn closeBtn"><i class="fa-solid fa-xmark"></i></button>
            </div>

            <ul class="links">
                <li class="link"><a class="linkText" href="#">Home</a></li>
                <li class="link linkBg">
                    <div class="bgLinkTop">
                        <span class="linkText">Property</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="linksCard">
                        <a href="#"><li class="bgDownLink">Property for Sale</li></a>
                        <a href="#"><li class="bgDownLink">Property for Rent</li></a>
                    </ul>
                </li>
                <li class="link linkBg">
                    <div class="bgLinkTop">
                        <span class="linkText">Account</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="linksCard">
                        <a href="#"><li class="bgDownLink">Personal Info</li></a>
                        <a href="#"><li class="bgDownLink">Password & Security</li></a>
                        <a href="#"><li class="bgDownLink">My Properties</li></a>
                        <a href="#"><li class="bgDownLink">Wishes</li></a>
                        <a href="#"><li class="bgDownLink">Reviews</li></a>
                    </ul>
                </li>
                <li class="link"><a class="linkText" href="#">Sign In</a></li>
                <li class="link"><a class="linkText" href="#">Sign Up</a></li>
            </ul>

            <label class="switch switchRespNav">
                <input class="darkBtn" type="checkbox">
                <span class="switchSlider round"></span>
            </label>
        </div>
    </div>
</nav>