* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

:root {
  --black: #2A323C;
  --blue: #1252AE;
  --white: #fff;
  --grey: #F4F6F8;
  --light-black: #737D8C;
  --allMode-black: #2A323C;
  --light-blue: #1252ae33;
  --allMode-white: #fff;
  --text-shadow: 2px 3px 4px rgba(10, 25, 48, 0.28);
  --box-shadow: 0px 6px 7px 0px rgba(18, 82, 174, 0.20);
  --box-shadow-hover: 0 0 15px 4px rgba(18, 82, 174, 0.3);
  --black-box-shadow: 0 0 5px rgba(0,0,0,.2);
  --black-box-shadow-hover: 0 0 10px rgba(0,0,0,.4);
}

body.darkMode {
  --white: #0E1420;
  --black: #fff;
  --grey: #1A2231;
  --light-blue: rgba(18, 82, 174, 0.20);
  --box-shadow: 0px 2px 2px 0px rgba(217, 222, 232, 0.18);
  --box-shadow-hover: 0px 2px 3px 0px rgba(217, 222, 232, 0.2);
  --black-box-shadow: 0 0 5px rgba(255,255,255,.2);
  --black-box-shadow-hover: 0 0 10px rgba(255,255,255,.4);
  background: var(--white);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: var(--light-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(10, 60, 129);
}

.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.container {
  max-width: 1320px;
  width: 100%;
  display: flex;
}

.optionTitle {
  color: var(--black);
  font-size: 36px;
}
.optionTitle span {
  color: var(--blue);
}

@media screen and (max-width: 1150px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (min-width: 950px) {
  body {
    overflow-y: auto !important;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 700px;
  }
}
body {
  overflow-y: hidden;
}

body.loaded .circutSection {
  visibility: hidden;
  opacity: 0;
}

body.loaded {
  overflow-y: auto;
}

.circutSection {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.circutSection .circutBox {
  width: 60px;
  height: 60px;
  border: 6px solid var(--light-blue);
  border-block-start-color: var(--blue);
  border-radius: 50%;
  animation: londing 0.5s linear infinite;
}
@keyframes londing {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  width: 100%;
  padding: 25px 20px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
nav .responsiveMenu {
  display: none;
}
nav.active {
  animation: 0.6s navScroll forwards;
}
@keyframes navScroll {
  from {
    top: -100%;
    box-shadow: 0 0px 0px 0px rgba(18, 82, 174, 0.15);
  }
  to {
    top: 0;
    box-shadow: 0 5px 15px 2px rgba(18, 82, 174, 0.15);
  }
}
nav .navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
nav .navContainer .logo {
  max-width: 135px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navContainer .logo img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
nav .navContainer .links {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav .navContainer .links .link {
  position: relative;
}
nav .navContainer .links .link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  height: 2px;
  width: 0%;
  background: var(--black);
  transition: all 0.5s;
}
nav .navContainer .links .link:hover .linkText {
  color: var(--blue);
}
nav .navContainer .links .link:hover::before {
  background: var(--blue);
  width: 100%;
  left: 0;
}
nav .navContainer .links .link:hover .bgLinkTop i {
  color: var(--blue);
}
nav .navContainer .links .link .linkText {
  color: var(--black);
  font-size: 1.1em;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.5s;
}
nav .navContainer .links .linkBg {
  position: relative;
}
nav .navContainer .links .linkBg .bgLinkTop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
nav .navContainer .links .linkBg .bgLinkTop i {
  color: var(--black);
  font-size: 0.8em;
  transition: all 0.5s;
}
nav .navContainer .links .linkBg:hover .bgLinkTop i {
  transform: rotate(-180deg);
}
nav .navContainer .links .linkBg:hover .linksCard {
  top: calc(100% + 10px);
  visibility: visible;
  opacity: 1;
}
nav .navContainer .links .linkBg .linksCard {
  position: absolute;
  top: 90%;
  left: 0;
  padding: 15px;
  min-width: 190px;
  width: 100%;
  background: var(--white);
  box-shadow: 0 5px 15px 2px rgba(18, 82, 174, 0.15);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
nav .navContainer .links .linkBg .linksCard .bgDownLink {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
  transition: all 0.5s;
}
nav .navContainer .links .linkBg .linksCard .bgDownLink span, nav .navContainer .links .linkBg .linksCard .bgDownLink i {
  font-size: 0.9em;
  color: var(--black);
  transition: all 0.5s;
}
nav .navContainer .links .linkBg .linksCard .bgDownLink:hover span, nav .navContainer .links .linkBg .linksCard .bgDownLink:hover i {
  color: var(--blue);
}
nav .navContainer .links .linkBg .linksCard .bgDownLink:hover span {
  transform: translateX(5px);
}
nav .navContainer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
nav .navContainer .icons .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 12px 24px;
  color: var(--blue);
  border-radius: 4px;
  background: var(--light-blue);
  box-shadow: 0px 2px 3px 0px rgba(18, 82, 174, 0.4);
  cursor: pointer;
  flex-wrap: nowrap;
  font-size: 1em;
  transition: all 0.5s;
}
nav .navContainer .icons .btn span {
  margin-left: 4px;
}
nav .navContainer .icons .btn:hover {
  background: var(--blue);
  color: var(--white);
}
nav .navContainer .icons .menuBtn {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input.active + .switchSlider {
  background-color: var(--blue);
}
.switch input:focus + .switchSlider {
  box-shadow: 0 0 1px rgba(18, 82, 174, 0.15);
}
.switch input.active + .switchSlider:before {
  transform: translateX(26px);
}
.switch .switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 82, 174, 0.15);
  transition: 0.4s;
}
.switch .switchSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  transition: 0.4s;
}
.switch .switchSlider.round {
  border-radius: 34px;
}
.switch .switchSlider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1150px) {
  nav .container .links {
    gap: 35px;
  }
  nav .container .links .link .linkText {
    font-size: 1em;
  }
  nav .container .icons .btn {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 950px) {
  nav .container .links {
    display: none;
  }
  nav .container .switchBigNav {
    display: none;
  }
  nav .container .icons {
    gap: 10px;
  }
  nav .container .icons .btn {
    font-size: 1em;
    height: 46px;
  }
  nav .container .icons .sign {
    display: none;
  }
  nav .container .icons .menuBtn {
    display: flex;
    padding: 15px;
    width: 46px;
    height: 46px;
  }
  nav .responsiveMenu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  nav .responsiveMenu.active {
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
  }
  nav .responsiveMenu.active .aside {
    transform: translateX(0%);
    opacity: 1;
  }
  nav .responsiveMenu .aside {
    max-height: 100vh;
    max-width: 400px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px 20px;
    background: var(--white);
    box-shadow: 0 5px 15px 2px rgba(18, 82, 174, 0.15);
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s;
  }
  nav .responsiveMenu .aside .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  nav .responsiveMenu .aside .top .logo {
    max-width: 135px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .responsiveMenu .aside .top .logo img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  nav .responsiveMenu .aside .top .closeBtn {
    width: 45px;
    height: 45px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
    color: var(--blue);
    background: var(--white);
    transition: all 0.5s;
  }
  nav .responsiveMenu .aside .top .closeBtn:hover {
    background: var(--blue);
    color: var(--white);
  }
  nav .responsiveMenu .aside .links .link {
    width: 100%;
    padding: 16px 0;
    border-bottom: 2px solid var(--grey);
    cursor: pointer;
    transition: all 0.5s;
  }
  nav .responsiveMenu .aside .links .link:hover {
    border-bottom: 2px solid var(--blue);
  }
  nav .responsiveMenu .aside .links .link:hover .linkText {
    color: var(--blue);
  }
  nav .responsiveMenu .aside .links .link:hover i {
    color: var(--blue);
  }
  nav .responsiveMenu .aside .links .link .linkText {
    font-size: 1.1em;
    color: var(--black);
  }
  nav .responsiveMenu .aside .links .link i {
    font-size: 1.1em;
    color: var(--black);
  }
  nav .responsiveMenu .aside .links .link:last-child {
    border-bottom: none;
  }
  nav .responsiveMenu .aside .links .linkBg.active {
    border-bottom: 2px solid var(--blue);
  }
  nav .responsiveMenu .aside .links .linkBg.active .bgLinkTop .linkText {
    color: var(--blue);
  }
  nav .responsiveMenu .aside .links .linkBg.active .bgLinkTop i {
    transform: rotate(-180deg);
    transition: all 0.5s;
    color: var(--blue);
  }
  nav .responsiveMenu .aside .links .linkBg.active .linksCard {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
  }
  nav .responsiveMenu .aside .links .linkBg .linksCard {
    position: relative;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  nav .responsiveMenu .aside .links .linkBg .linksCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: var(--blue);
  }
  nav .responsiveMenu .aside .links .linkBg .linksCard .bgDownLink {
    font-size: 1.1em;
    color: var(--black);
    padding: 8px 0;
    transition: 0.5s;
  }
  nav .responsiveMenu .aside .links .linkBg .linksCard .bgDownLink:hover {
    color: var(--blue);
  }
}
@media screen and (max-width: 450px) {
  nav .responsiveMenu .aside {
    max-width: 450px;
    width: 100%;
    box-shadow: none;
  }
}
@media screen and (max-width: 420px) {
  nav .container {
    gap: 20px;
  }
  nav .container .icons {
    gap: 10px;
  }
  nav .container .icons .btn {
    padding: 10px 15px;
    font-size: 0.9em;
    max-height: 40px;
  }
  nav .container .icons .menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 10px;
  }
}
#footer {
  position: relative;
  padding: 40px 20px 90px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/footer-bg.png"), var(--grey) 50%/cover no-repeat;
}
#footer .footerBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: var(--grey);
  box-shadow: 0 -2px 5px 2px rgba(18, 82, 174, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footerBottom .container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
#footer .footerBottom .container span {
  color: var(--light-black);
}
#footer .footerBottom .container span i {
  color: rgb(225, 72, 72);
}
#footer .footerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
#footer .footerContainer .firstBox .logo {
  max-width: 135px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footerContainer .firstBox .logo img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
#footer .footerContainer .firstBox p {
  color: var(--light-black);
  font-size: 14px;
  line-height: 18px;
}
#footer .footerContainer .firstBox .footerIconBox {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#footer .footerContainer .firstBox .footerIconTitle {
  color: var(--black);
  font-size: 18px;
}
#footer .footerContainer .firstBox .footerIcons {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
#footer .footerContainer .firstBox .footerIcons .icon {
  width: 35px;
  height: 35px;
  background: var(--light-blue);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
#footer .footerContainer .firstBox .footerIcons .icon:hover {
  background: var(--black);
}
#footer .footerContainer .firstBox .footerIcons .icon:hover i {
  color: var(--white);
}
#footer .footerContainer .firstBox .footerIcons .icon i {
  font-size: 0.9em;
  color: var(--black);
  transition: all 0.5s;
}
#footer .footerContainer .box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#footer .footerContainer .box h3 {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
}
#footer .footerContainer .box .footerLists {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#footer .footerContainer .box .footerLists .list a {
  color: var(--light-black);
  font-size: 15px;
  transition: all 0.5s;
}
#footer .footerContainer .box .footerLists .list a:hover {
  color: var(--blue);
}
#footer .footerContainer .lastBox .footerLists .list {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}
#footer .footerContainer .lastBox .footerLists .list .icon {
  min-width: 35px;
  min-height: 35px;
  background: var(--light-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footerContainer .lastBox .footerLists .list .icon i {
  font-size: 0.9em;
  color: var(--blue);
}
#footer .footerContainer .lastBox .footerLists .list .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#footer .footerContainer .lastBox .footerLists .list .content h5 {
  font-weight: normal;
  font-size: 1em;
  color: var(--black);
}
#footer .footerContainer .lastBox .footerLists .list .content p {
  color: var(--light-black);
  font-size: 0.9em;
}

#catalog {
  padding: 105px 0 20px 0;
  width: 100%;
}
#catalog .catalogContainer {
  display: flex;
  flex-wrap: nowrap;
}
#catalog .catalogContainer .catalogAside {
  max-width: 400px;
  min-height: 100vh;
  padding: 20px;
  box-shadow: 2px 3px 15px 0px var(--light-blue);
  display: flex;
  flex-direction: column;
  gap: 35px;
}
#catalog .catalogContainer .catalogAside .category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
#catalog .catalogContainer .catalogAside .category button {
  padding: 16px 25px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--black-box-shadow);
  background: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  transition: all 0.5s;
}
#catalog .catalogContainer .catalogAside .category button.active {
  background: var(--white);
  box-shadow: var(--black-box-shadow-hover);
}
#catalog .catalogContainer .catalogAside .category button.active i {
  color: var(--blue);
}
#catalog .catalogContainer .catalogAside .category button.active span {
  color: var(--blue);
}
#catalog .catalogContainer .catalogAside .category button i {
  color: var(--black);
  font-size: 1.3em;
}
#catalog .catalogContainer .catalogAside .category button span {
  color: var(--black);
  font-size: 1.3em;
}
#catalog .catalogContainer .catalogAside .asideBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#catalog .catalogContainer .catalogAside .asideBox .asideTitle {
  font-size: 1.3em;
  font-weight: normal;
  color: var(--black);
}
#catalog .catalogContainer .catalogAside .location select {
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
  color: var(--black);
  background: var(--grey);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: 0.5s;
}
#catalog .catalogContainer .catalogAside .location select:focus {
  border: 1px solid var(--blue);
  box-shadow: 0 0 5px 2px rgba(18, 82, 174, 0.4);
}
#catalog .catalogContainer .catalogAside .property .lists {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#catalog .catalogContainer .catalogAside .property .lists .checkBox {
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}
#catalog .catalogContainer .catalogAside .property .lists .checkBox input[type=checkbox] {
  accent-color: var(--blue);
  height: 18px;
  width: 18px;
}
#catalog .catalogContainer .catalogAside .property .lists .checkBox span {
  color: var(--black);
}
#catalog .catalogContainer .catalogAside .price .priceInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
#catalog .catalogContainer .catalogAside .price .priceInputs .inputBox {
  display: flex;
  border: 1px solid var(--light-black);
  border-radius: 5px;
}
#catalog .catalogContainer .catalogAside .price .priceInputs .inputBox input {
  background: var(--grey);
  color: var(--black);
  text-align: center;
  font-size: 1.1em;
  padding: 15px;
}
#catalog .catalogContainer .catalogAside .price .priceInputs .inputBox input:nth-child(1) {
  width: 50px;
  border-right: 1px solid var(--light-black);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#catalog .catalogContainer .catalogAside .price .priceInputs .inputBox input:nth-child(2) {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#catalog .catalogContainer .catalogAside .rooms .inputBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#catalog .catalogContainer .catalogAside .rooms .inputBox p {
  font-size: 1em;
  color: var(--black);
}
#catalog .catalogContainer .catalogAside .rooms .inputBox .choose {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
}
#catalog .catalogContainer .catalogAside .rooms .inputBox .choose .btn {
  padding: 12px 25px;
  cursor: pointer;
  border-right: 1px solid var(--light-black);
  background: var(--grey);
  border: 1px solid var(--light-black);
  border-left: none;
  text-align: center;
  color: var(--black);
  transition: all 0.5s;
}
#catalog .catalogContainer .catalogAside .rooms .inputBox .choose .btn.active {
  background: var(--light-blue);
}
#catalog .catalogContainer .catalogAside .rooms .inputBox .choose .btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid var(--light-black);
}
#catalog .catalogContainer .catalogAside .rooms .inputBox .choose .btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#catalog .catalogContainer .catalogAside .filterButton {
  max-width: 200px;
  padding: 15px 30px;
  border: 2px solid var(--blue);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: var(--white);
  transition: all 0.5s;
}
#catalog .catalogContainer .catalogAside .filterButton i {
  font-size: 1.3em;
  color: var(--blue);
}
#catalog .catalogContainer .catalogAside .filterButton span {
  font-size: 1.3em;
  color: var(--blue);
}
#catalog .catalogContainer .catalogAside .filterButton:hover {
  background: var(--blue);
}
#catalog .catalogContainer .catalogAside .filterButton:hover i {
  font-size: 1.3em;
  color: var(--allMode-white);
}
#catalog .catalogContainer .catalogAside .filterButton:hover span {
  font-size: 1.3em;
  color: var(--allMode-white);
}
#catalog .catalogContainer .main {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}
#catalog .catalogContainer .main .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
#catalog .catalogContainer .main .boxes .box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  border-radius: 4px;
  background: var(--white);
  box-shadow: var(--box-shadow);
  transition: all 0.5s;
}
#catalog .catalogContainer .main .boxes .box:hover {
  box-shadow: var(--box-shadow-hover);
}
#catalog .catalogContainer .main .boxes .box:hover .content .down::before {
  width: 100%;
  left: 0;
}
#catalog .catalogContainer .main .boxes .box .img {
  width: 100%;
  max-height: 200px;
  position: relative;
}
#catalog .catalogContainer .main .boxes .box .img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}
#catalog .catalogContainer .main .boxes .box .img .imgTop {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}
#catalog .catalogContainer .main .boxes .box .img .imgTop .type {
  border-radius: 3px;
  font-size: 0.8em;
  color: var(--black);
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 8px 15px;
  cursor: pointer;
}
#catalog .catalogContainer .main .boxes .box .img .imgTop .likeBtn {
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
}
#catalog .catalogContainer .main .boxes .box .img .imgTop .likeBtn.active i {
  color: var(--blue);
}
#catalog .catalogContainer .main .boxes .box .img .imgTop .likeBtn i {
  font-size: 1.1em;
  color: var(--black);
  transition: all 0.5s;
}
#catalog .catalogContainer .main .boxes .box .content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}
#catalog .catalogContainer .main .boxes .box .content .top {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#catalog .catalogContainer .main .boxes .box .content .top h3 {
  font-size: 1.3em;
  color: var(--black);
}
#catalog .catalogContainer .main .boxes .box .content .top .location {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.9em;
}
#catalog .catalogContainer .main .boxes .box .content .top .location i {
  color: var(--blue);
}
#catalog .catalogContainer .main .boxes .box .content .top .location span {
  color: var(--light-black);
}
#catalog .catalogContainer .main .boxes .box .content .top .info {
  display: flex;
  justify-content: space-between;
}
#catalog .catalogContainer .main .boxes .box .content .top .info .card {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  align-items: center;
}
#catalog .catalogContainer .main .boxes .box .content .top .info .card i {
  color: var(--blue);
}
#catalog .catalogContainer .main .boxes .box .content .top .info .card span {
  color: var(--light-black);
}
#catalog .catalogContainer .main .boxes .box .content .down {
  padding-top: 15px;
  border-top: 2px solid rgba(42, 50, 60, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}
#catalog .catalogContainer .main .boxes .box .content .down::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  width: 0%;
  height: 2px;
  background: var(--blue);
  transition: all 0.5s;
}
#catalog .catalogContainer .main .boxes .box .content .down .price {
  font-size: 1em;
  color: var(--blue);
}
#catalog .catalogContainer .main .boxes .box .content .down .price b {
  font-size: 1.3em;
}
#catalog .catalogContainer .main .boxes .box .content .down .btn {
  padding: 12px 30px;
  border-radius: 4px;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s;
}
#catalog .catalogContainer .main .boxes .box .content .down .btn:hover {
  background: rgb(14, 68, 142);
}

.responsiveFilters {
  display: none;
}

.respFilterBtn {
  display: none;
}

@media screen and (max-width: 800px) {
  #catalog .catalogContainer .catalogAside {
    display: none;
  }
  #catalog .catalogContainer .main {
    padding: 20px;
  }
  #catalog .catalogContainer .main .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .respFilterBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--allMode-white);
    cursor: pointer;
    gap: 10px;
    padding: 10px;
    text-align: center;
    z-index: 12;
    transition: all 0.5s;
  }
  .respFilterBtn i {
    font-size: 1.3em;
  }
  .respFilterBtn span {
    font-size: 1.3em;
    font-weight: bold;
  }
  .respFilterBtn:hover {
    background: rgb(14, 68, 142);
  }
  .responsiveFilters {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: 0.3s;
  }
  .responsiveFilters.active {
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
  }
  .responsiveFilters.active .responsiveFiltersAside {
    transform: translateX(0%);
    opacity: 1;
  }
  .responsiveFilters .responsiveFiltersAside {
    max-height: 100vh;
    max-width: 400px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px 20px;
    background: var(--white);
    box-shadow: 0 5px 15px 2px rgba(18, 82, 174, 0.15);
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s;
  }
  .responsiveFilters .responsiveFiltersAside .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .responsiveFilters .responsiveFiltersAside .top .logo {
    max-width: 135px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .responsiveFilters .responsiveFiltersAside .top .logo img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .responsiveFilters .responsiveFiltersAside .top .closeBtn {
    width: 45px;
    height: 45px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
    color: var(--blue);
    background: var(--white);
    transition: all 0.5s;
  }
  .responsiveFilters .responsiveFiltersAside .top .closeBtn:hover {
    background: var(--blue);
    color: var(--white);
  }
  .responsiveFilters .responsiveFiltersAside .category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  .responsiveFilters .responsiveFiltersAside .category button {
    padding: 16px 25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--black-box-shadow);
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    transition: all 0.5s;
  }
  .responsiveFilters .responsiveFiltersAside .category button.active {
    background: var(--white);
    box-shadow: var(--black-box-shadow-hover);
  }
  .responsiveFilters .responsiveFiltersAside .category button.active i {
    color: var(--blue);
  }
  .responsiveFilters .responsiveFiltersAside .category button.active span {
    color: var(--blue);
  }
  .responsiveFilters .responsiveFiltersAside .category button i {
    color: var(--black);
    font-size: 1.3em;
  }
  .responsiveFilters .responsiveFiltersAside .category button span {
    color: var(--black);
    font-size: 1.3em;
  }
  .responsiveFilters .responsiveFiltersAside .asideBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .responsiveFilters .responsiveFiltersAside .asideBox .asideTitle {
    font-size: 1.3em;
    font-weight: normal;
    color: var(--black);
  }
  .responsiveFilters .responsiveFiltersAside .location select {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    color: var(--black);
    background: var(--grey);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: 0.5s;
  }
  .responsiveFilters .responsiveFiltersAside .location select:focus {
    border: 1px solid var(--blue);
    box-shadow: 0 0 5px 2px rgba(18, 82, 174, 0.4);
  }
  .responsiveFilters .responsiveFiltersAside .property .lists {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .responsiveFilters .responsiveFiltersAside .property .lists .checkBox {
    display: flex;
    gap: 7px;
    align-items: center;
    cursor: pointer;
  }
  .responsiveFilters .responsiveFiltersAside .property .lists .checkBox input[type=checkbox] {
    accent-color: var(--blue);
    height: 18px;
    width: 18px;
  }
  .responsiveFilters .responsiveFiltersAside .property .lists .checkBox span {
    color: var(--black);
  }
  .responsiveFilters .responsiveFiltersAside .price .priceInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  .responsiveFilters .responsiveFiltersAside .price .priceInputs .inputBox {
    display: flex;
    border: 1px solid var(--light-black);
    border-radius: 5px;
  }
  .responsiveFilters .responsiveFiltersAside .price .priceInputs .inputBox input {
    background: var(--grey);
    color: var(--black);
    text-align: center;
    font-size: 1.1em;
    padding: 15px;
  }
  .responsiveFilters .responsiveFiltersAside .price .priceInputs .inputBox input:nth-child(1) {
    width: 50px;
    border-right: 1px solid var(--light-black);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .responsiveFilters .responsiveFiltersAside .price .priceInputs .inputBox input:nth-child(2) {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .responsiveFilters .responsiveFiltersAside .rooms .inputBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .responsiveFilters .responsiveFiltersAside .rooms .inputBox p {
    font-size: 1em;
    color: var(--black);
  }
  .responsiveFilters .responsiveFiltersAside .rooms .inputBox .choose {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px;
  }
  .responsiveFilters .responsiveFiltersAside .rooms .inputBox .choose .btn {
    padding: 12px 25px;
    cursor: pointer;
    border-right: 1px solid var(--light-black);
    background: var(--grey);
    border: 1px solid var(--light-black);
    border-left: none;
    text-align: center;
    color: var(--black);
    transition: all 0.5s;
  }
  .responsiveFilters .responsiveFiltersAside .rooms .inputBox .choose .btn.active {
    background: var(--light-blue);
  }
  .responsiveFilters .responsiveFiltersAside .rooms .inputBox .choose .btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid var(--light-black);
  }
  .responsiveFilters .responsiveFiltersAside .rooms .inputBox .choose .btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .responsiveFilters .responsiveFiltersAside .filterButton {
    max-width: 200px;
    padding: 15px 30px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background: var(--white);
    transition: all 0.5s;
  }
  .responsiveFilters .responsiveFiltersAside .filterButton i {
    font-size: 1.3em;
    color: var(--blue);
  }
  .responsiveFilters .responsiveFiltersAside .filterButton span {
    font-size: 1.3em;
    color: var(--blue);
  }
  .responsiveFilters .responsiveFiltersAside .filterButton:hover {
    background: var(--blue);
  }
  .responsiveFilters .responsiveFiltersAside .filterButton:hover i {
    font-size: 1.3em;
    color: var(--allMode-white);
  }
  .responsiveFilters .responsiveFiltersAside .filterButton:hover span {
    font-size: 1.3em;
    color: var(--allMode-white);
  }
}/*# sourceMappingURL=catalog.css.map */